:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #888;
  --highlight: #006aff;
}

html, body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  height: 100vh;
}

#hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: xx-large;
}

#hero h1 {
  align-items: center;
  text-align: center;
}

#hero nav {
  align-items: stretch;
}

#hero nav a {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for color change */
}

#hero nav a:hover {
  color: var(--secondary-color);
}

#about {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color); ;
  color: var(--primary-color);
  height: auto;
  width: 100%;
}

#left {
  flex-direction: column;
  padding: auto;
  margin: 2%;
}

#intro {
  font-size: 2.5vh;
}

#projects {
  flex-direction: column;
  font-size: 2.4vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color); ;
  padding: 10px;
  bottom: 0;
  height: 1%;
  width: auto;
}

@media (max-width: 768px) {
}