:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #888;
  --highlight: #006aff;
}

html, body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: flex;
}

#hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: xx-large;
  height: 100vh;

}

#hero h1 a {
  align-items: center;
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
}

#hero nav {
  align-items: stretch;
}

#hero nav a {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for color change */
}

#hero nav a:hover {
  color: var(--secondary-color);
}

#about {
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
}

#text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color); ;
  color: var(--primary-color);
  width: fit-content
}

#intro {
  font-size: 2.5vh;
  text-align: justify;
  margin: 1%;
}

#projects {
  flex-direction: column;
  font-size: 2.4vh;
}

#projects li a {
  color: var(--highlight);
  text-decoration: none;  
  transition: color 0.3s; /* Smooth transition for color change */
}

#projects li a:hover {
  color: var(--tertiary-color);
}

#back a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

#back a:hover {
  color: var(--tertiary-color)
}

#image {
  margin: 1% 0.5% 1%;
}

#image img {
  margin: 0, 20% 10% 10%;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color); ;
  height: 1%;
  width: auto;
}

#footer hr {
  width: 50%;
  text-align: center;
}

@media (max-width: 768px) {
}
